html
    head
        title KDSAPI Admin - #{title}
        link(rel='stylesheet' href='#{static_path}/material.min.css')
        block scripts
            script(src='#{static_path}/base_scripts.js')
    body
        div(class="demo-layout-transparent mdl-layout mdl-js-layout")
            header(class="mdl-layout__header mdl-layout__header--transparent")
                div(class="mdl-layout__header-row")
                    span(class="mdl-layout-title")= display-title
                    div(class="mdl-layout-spacer")
                    nav(class="mdl-navigation")
                        a(class="mdl-navigation__link" href="") Link
                        a(class="mdl-navigation__link" href="") Link
                        a(class="mdl-navigation__link" href="") Link
                        a(class="mdl-navigation__link" href="") Link

            div(class="mdl-layout__drawer")
                span(class="mdl-layout-title")= display-title
                nav(class="mdl-navigation")
                    a(class="mdl-navigation__link" href="") Link
                    a(class="mdl-navigation__link" href="") Link
                    a(class="mdl-navigation__link" href="") Link
                    a(class="mdl-navigation__link" href="") Link

        main(class="mdl-layout__content")
            div(class="page-content")
                block content
        block footer
            div
